body{
margin:0;
overflow:hidden;
background:#05070c;
font-family:Arial;
}

#game{
width:100vw;
height:100vh;
display:block;
}

#hud{
position:fixed;
top:10px;
left:10px;
color:white;
background:rgba(0,0,0,0.4);
padding:10px;
border-radius:10px;
font-size:13px;
}

#intro{
position:fixed;
width:100%;
height:100%;
background:black;
color:#00e5ff;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
font-size:22px;
z-index:9999;
padding:40px;
}
